# Python Review #1

Using what you learned in the modules, answer the questions below. Take your time and use all the information in the modules as your guide and resource. This isn't about memorization - this is about practicing skills! Good Luck!

## Module 1 Review

#### COMMENTS

Comments are not executed with the rest of the code when you run the cell. These are notes that give context to the code.

1. Open any book, document, brochure, email around you. Take the first two sentences you find. Write the two sentences in a cell below. Assign one sentence to a variable name (save it as a string) and make the other sentence a comment. Run the cell. 
2. Switch the sentences (the first sentence is now a comment, the second sentence is now the string) and re-run the cell.

In [144]:
print("Tinashe Lance Chaduka")# this is my name

Tinashe Lance Chaduka

In [2]:
print(1 + 2 + 3 + 4 + 5) # sumation of numbers

15

In [3]:
print(2 % 8) # print 2 to the power of 8

2

#### DATA TYPES 

There are three data types that we will use continuously - integer, float, string. Each cell below includes one of these three data types. Using a comment, write the type of data in each cell next to the value.

In [5]:
"Hello" # this is a string with double quotes

'Hello'

In [6]:
156 # this is an integer becuase it has a whole number

156

In [7]:
"W45" # this is a string with double quotes

'W45'

In [ ]:
12.567 # this is a float becuase it has a decimal point

In [8]:
"198 Spring Street, San Deigo, CA" # the address in string format with double quotes

'198 Spring Street, San Deigo, CA'

In [9]:
1.87 # this is a float becuase it has a decimal point

1.87

In [ ]:
0.00000435 # this is a float becuase it has a decimal point

In [10]:
"628" # this is a string with double quotes

'628'

In [11]:
1.111111114 # this is a float becuase it has a decimal point

1.111111114

In [12]:
4560886543 # this is a integer becuase it has a whole number

4560886543

#### VARIABLES

Variables hold information or a data value. To assign a value to a variable, use a single "=". Variables should be given meaningful names, can start with a letter or underscore (no numbers), and should follow <b>CamelType</b> or <b>snake_type</b> formatting. 

1. Write your birthday in longform (Month Day, Year) and save the value to a variable. Choose an appropriate name. 
2. Write the name of your favorite book. Save the value to a variable. Choose an appropriate name. 
3. Write the number of times you've eaten pizza in the past two weeks (0 can be an answer). Save the value to a variable. Choose an appropriate name. 
4. Write a float value with at least three digits after the decimal point. Save the value to a variable. Choose an appropriate name.
5. Pick two additional sentences from the item referenced in the comments section. Write out the sentences and save them to a variable. Choose an appropriate name.

In [14]:
my_birth_day = "May 7th 1979" # my birthday in longform as a string in double quotes

print(my_birth_day)

May 7th 1979

In [15]:
my_favorite_book = 'Data Analytics basics' # my favorite book in a string in single quotes

print(my_favorite_book)

Data Analytics basics

In [33]:
bi_weekly_times_eaten_pizza = 2 # the number of times i have eaten pizza last two weeks

print(bi_weekly_times_eaten_pizza)

2

In [26]:
num = round(123.45622222, 3) # printing the answer to three decimal point

print(num)

123.456

#### PRINT AND TYPE FUNCTIONS

The print function is crucial to your python knowledge. The print() function allows you to return a specific item, statement, word, number, etc. It is used to return (print, output, etc) information. Using all the variables you created in the step above, print each one in an individual cell. 

The type function allows you to return the type of data saved to a specific variable. Use the type() function to determine the type of data stored to each of your variables.

In [31]:
print(my_birth_day) # printing my birthday
type(my_birth_day) # data type saved to my birthday value

May 7th 1979

str

In [34]:
print(bi_weekly_times_eaten_pizza) # printing the number is times I ate pizza for the past twoo weeks
type(bi_weekly_times_eaten_pizza) # data type saved to the number i ate pizza for the last two weeks

2

int

In [35]:
print(my_favorite_book) # printing my favorite book
type(my_favorite_book) # data type of my favorite book

Data Analytics basics

str

In [36]:
print(num) # reducing a with a lot of decimal point into three decimal point
type(num) # data type of a number

123.456

float

#### ARITHMETIC OPERATORS

Arithmetic operators allow you to do simple math with Python. Operators include: 

    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division
    
In the cells below, insert any of the above operators to complete the equation. Print the result of the equation.

In [37]:
9 + 2 # addition operator

11

In [38]:
189.0 - 78 # subtraction operator

111.0

In [39]:
3 * 2 # multiplication operator

6

In [43]:
3 ** 8 # exponent operator

6561

In [ ]:
999.0027 2736.83

In [42]:
488 / 21 # division operator

23.238095238095237

In [44]:
11 % 8 # modulo (finds the remainder of a division) operator

3

In [45]:
45 // 9 # floor division operator

5

In [46]:
808 // 23 # floor division operator

35

In [ ]:
4 - 1 # subtraction operator

In [49]:
0 / 28 # division operator

-28

In [71]:
435 + 982 # addition operator

1417

In [72]:
6 * 3 # multiplication operator

18

In [73]:
1 // 1.5 # floor division operator

0.0

In [74]:
65 % 2 # modulo (finds the remainder of a division) operator

1

In [75]:
10 + 9 # addition operator

19

In [76]:
245 % 3 # modulo (finds the remainder of a division) operator

2

In [77]:
33 - 0 # subtraction operator

33

In [80]:
9 ** 2 # exponent operator

81

In [81]:
89 - 78 # subtraction operator

11

#### COMPOUND OPERATORS

Change the value of a variable and re-assign the new value to the same variable. This method saves you a step; all compound operators follow the same pattern:
    
    variable_a = variable_a + 10 <<<--->>> variable_a += 10
    
variable_a is now equal to the original value of variable_a plus 10. Compound operators include:

    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b
    
Convert all the equations below to use compound operators.

In [50]:
a = 9 
a //= 2
print(a)

4

In [51]:
b = 189.0 
b += 78
print(b)

267.0

In [52]:
c = 3 
c -= 2
print(c)

1

In [53]:
d = 5 
d += 1
print(d)

6

In [54]:
e = 8 
e *= 0
print(e)

0

In [55]:
f = 4 
f %= 1
print(f)

0

In [56]:
g = 5 
g //= 2
print(g)

2

In [57]:
h = 6 
h /= 3
print(h)

2.0

In [58]:
i = 9 
i *= 2
print(i)

18

In [59]:
j = 10 
j -= 1
print(j)

9

In [ ]:
k = 5 
k **= 4
print(k)

In [60]:
l = 8 
l -= 2
print(l)

6

In [61]:
m = 10 
m += 2
print(m)

12

In [62]:
n = 11 
n *= 1.7
print(n)

18.7

In [63]:
o = 9 
o -= 3
print(o)

6

In [65]:
p = 7 
p **= 4
print(p)

2401

In [66]:
q = 11 
q %= 2
print(q)

1

In [67]:
r = 8 
r /= 4
print(r)

2.0

In [64]:
s = 5 
s *= 5
print(s)

25

In [68]:
t = 7 
t %= 5
print(t)

2

In [69]:
u = 8 
u **= 5
print(u)

32768

In [70]:
v = 12 
v //= 3
print(v)

4

#### ESCAPE CHARACTERS

An escape character allows you to include special characters in a string that would otherwise return an error. To use escape characters, add a backslash (\) before the character you want to escape:

    " \ " use a single backslash to add apostrophe's in strings 
    " \n " use to insert new lines in your strings
    " \t " use to insert tab spaces into your strings
    
Fix the code below to insert the correct escape character into the string.

In [90]:
print("""Hello,"\" what's up?""")

Hello,"" what's up?

In [85]:
print("Hello,\n I wish the first hello was on its own line!")

Hello,
 I wish the first hello was on its own line!

In [93]:
print("Hello \t\t\t I wish there was a long space after the first Hello.")

Hello 			 I wish there was a long space after the first Hello.

#### FORMATTED STRINGS PT 1

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    {}  : a place holder

The placeholder is used to insert the value of a specific variable into the string. All you need to do is insert the name of the variable and whatever value is assigned to that variable will show up when you print the statement. Complete the code in the cells below to print out the proper formatted strings.

In [99]:
name = "Jasmine"

# complete the code below to print the statement "Hello, [name]!"

print(f"Hi, {name}")

Hi, Jasmine

In [97]:
animal_name = "Cat"

# complete the code below to print the statement "My favorite animal is a Cat"

print(f"My favorite animal is a {animal_name}")

My favorite animal is a Cat

In [98]:
actor_last_name = "Hank"

# complete the code below to print the statement "My favorite actor is Tom Hanks"

print(f"My favorite actor is Tom {actor_last_name}")

My favorite actor is Tom Hank

In [104]:
color1 = "Black"
color2 = "White"

# complete the code below to print the statement "Let's play chess, which color do you want to be? Black or White?"

print(f"Let's play chess, which color do you want to be? {color1 } or {color2}")

Let's play chess, which color do you want to be? Black or White

In [106]:
city1 = "Paris"
city2 = "Dublin"
city3 = "Bristol"

# complete the code below to print the statement "The three cities I visited during my vacation were Paris, Bristol, and Dublin."

print(f"The three cities I visited during my vacation were {city1}, {city2} and {city3}.")

The three cities I visited during my vacation were Paris, Dublin and Bristol.

#### FORMATTED STRINGS PT 2

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

The numeric formatting options allow you to return a number with a specific format. Typically, this includes adding a comma in the thousands place and truncating the amount of digits found after a decimal point. Complete the following questions in the cells below:

1. Print the following number with commas and 1 number after the decimal: 49792862.39231
2. Print the following number with commas and 3 number after the decimal: 3999876.009
3. Print the following number as a percentage with 2 numbers after the decimal: .03974
4. Print the following number with commas: 1000000000000000000
5. Write the code to produce this output: 7, 890.00
6. Write the code to product this output: 567.00045
7. Print the following number with commas and no numbers after the decimal: 3450000

In [111]:
number1 = 49792862.39231

print(f"The number is {number1:,.1f}")

The number is 49,792,862.4

In [114]:
number2 = 3999876.009

print(f"The number is {number2:,.3f}")

The number is 3,999,876.009

In [116]:
number3 = .03974

print(f"The number in percentage is {number3:,.2%}")

The number in percentage is 3.97%

In [121]:
number4 = 1000000000000000000

print(f"The number is {number4:,}")

The number is 1,000,000,000,000,000,000

In [123]:
number5 = 789000

print(f"The coded number is {number5:,.2f}")

The coded number is 789,000.00

In [139]:
number6 = 567.00045

print(f"The coded number is {number6:.5f}")

The coded number is 567.00045

#### INPUT FUNCTION 

The input function directly asks the user (you) for information. 

    input(tell the user what you want them to do!)
    
1. Use the input() function to find a users name
2. Use the input() function to find a users address
3. Use the input() function to find a users phone number
4. Use the input() function to find a users age
5. Using a formatted string, put all this information together and print a statement using what you learned about the user.

In [154]:
print("What is your name:") # input function asking the users name

name = input()

What is your name:
Tinashe

In [155]:
print("What is your address:") # input function asking the users address

address = input()

What is your address:
19513 Gunners Branch Road

In [158]:
print("What is your phone number:") # input function asking the users phone number

phone_number = input()

What is your phone number:
202-376-7898

In [159]:
print("What is your age:") # input function asking the users age

age= input()

What is your age:
26

In [170]:
print(f"Name:\t\t" +name ) # printing users name
print(f"Address:\t" +address ) # printing users address
print(f"Phone number:\t" +phone_number ) # printing users phone
print(f"Age:\t\t" +age ) # print users age

Name:		Tinashe
Address:	19513 Gunners Branch Road
Phone number:	202-376-7898
Age:		26

#### DATA TYPE CONVERSION FUNCTIONS

You can convert data to various types using three built-in functions. 
* the int() function turns a value into an integer
* the float() function turns a value into a float
* the str() function turns a value into a string

Complete the code below to make the necessary changes.

In [173]:
x = "187"

x = float(x) # convert x into a float value

print(x)

187.0

In [216]:
y = 123.56 # convert y into a string value

str(y)

'123.56'

In [184]:
z = 99 

z = float(z) # convert z into a float value 

print(z)

99.0

# { Module 1 Quiz }

1. Print out your favorite snack and write a comment about what you are doing in the code. 
2. Print the sum of the following values: 3, 56, 21, 11, 7, 0, 5
3. Print the remainder of the values 435 and 6
4. Create a variable called 'eye color' and store your eye color to the variable. Print a sentence describing your eye color and using the variable in the sentence. 
5. Write a code to get two integers from a user. Print out their sum.

In [194]:
print("What is your favorite snack:") # asking a user's favorite snack

snack = input() # having the user input their favorite snack

print("My favorite snack:\t" + snack) # printing the whole statement after the users has inputted their favorite snack

What is your favorite snack:
Peanuts
My favorite snack:	Peanuts

In [195]:
print(3 + 56 + 21 + 11 + 7 + 0 + 5)

103

In [198]:
435%6

3

In [207]:
eye_color = "blue" # assigning the color of my eyes

In [211]:
print(f"The color of my eyes is: {eye_color}") # print the color of my eyes

The color of my eyes is: blue

In [221]:
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter second integer:\t "))

print(num1 + num2)

Enter the first integer: 10
Enter second integer:	 10
20

## Module 2 Review

#### IMPORTING LIBRARIES

A library is a specific collection of python functions. You can use these functions by first importing the library into your notebook. Once you import your library, you can give it a nickname. The nickname is optional, but it makes it easier to use (or reference) the library throughout your code. 

    import [ library name ]
    
Importing a library and assigning a nickname:

    import [ library name ] as [ nickname ]
    
Import the library "random" and nickname it "rd".

In [222]:
import random

In [223]:
import random as rand

#### RANDOM NUMBER GENERATOR

The random library contains a function that allows you to generate a random number. This library has two functions that are useful:

    .random() : this will generate a random number 
    .randint() : this will generate a random integer within a specific range
    
When you want to use the function, you first have to reference the name of your library (or it's nickname) and then attach the function to the end of the library name. For example:

    rd.random()
    rd.randint() 
    rd.randint(0, 10) >>> this code will generate a random number between 0 and 10 

1. Generate a random number
2. Generate a random integer
3. Generate a random integer between 1 and 100
4. Generate a random integer between -10 and 10

In [224]:
rand.random()

0.9179342382334752

In [229]:
rand.randint(1, 100)

67

In [230]:
rand.randint(-10, 10)

-5

#### LEN FUNCTION

The len() function returns the length of a given value. This includes the length of a string, the amount of characters is a sentence (which also counts white spaces), the number of items in a list, etc. Complete the code below to determine the length of the following items. Before you run the code, try to guess what the length value is going to be.

In [1]:
# what is the length of the following string:

len("Hello")

5

In [2]:
# what is the length of the following string:

len("123ABC")

6

In [3]:
# what is the length of the following string:

len("Hello, how are you doing today?")

31

In [4]:
# what is the length of the following string:

len("Hello, it's really nice to meet you! I hope you're well!")

56

In [5]:
# what is the length of the following string:

len(" ")

1

#### STRING METHODS

There are several functions that are used specifically with strings. The most important functions to remember are:
    
<b> Change the Case </b>
    
    .title() >> change a string to title case
    .upper() >> change a string to upper case
    .lower() >> change a string to lower case
    
<b> Remove White Spaces from a String </b>

    .strip() >> strip white spaces from both ends of a string
    .rstrip() >> remove white spaces from the right-side of a string
    .lstrip() >> remove white spaces from the left-side of a string
    
<b> Replace a value in a String with another value</b>

    .replace() >> replace a specific character with another character
    .replace([what you want to replace], [what to replace it with])
    
Complete the code below to practice the above string methods.

In [10]:
name = "gEOrGe washINGtoN"

# change the above string to title case

In [11]:
name.title()

'George Washington'

In [12]:
yelling = "HELLO WHAT ARE YOU DOING!"

# change the above string to lowercase

In [13]:
yelling.lower()

'hello what are you doing!'

In [14]:
book = "the great gatsby"

# change the above string to title case

In [15]:
book.title()

'The Great Gatsby'

In [16]:
city = "nEW york"

# change the above string to uppercase

In [17]:
city.upper()

'NEW YORK'

In [18]:
quote = "        Not all those who wander are lost.         "

# strip the above string of white space on each side

In [19]:
quote.strip()

'Not all those who wander are lost.'

In [21]:
quote = "        Not all those who wander are lost.         "

# strip the above string of white spaces on the left side

In [22]:
quote.lstrip()

'Not all those who wander are lost.         '

In [23]:
quote = "        Not all those who wander are lost.         "

# strip the above string of white spaces on the right side

In [24]:
quote.rstrip()

'        Not all those who wander are lost.'

In [25]:
speech = "4 score and seven years ago..."

# in the above string, replace the value of "4" with the word "four"

In [26]:
speech.replace("4", "four")

'four score and seven years ago...'

In [27]:
speech = "Four score and seven years ago..."

# in the above string, replace the word of "seven" with the value "7"

In [28]:
speech.replace("seven", "7")

'Four score and 7 years ago...'

In [29]:
speech = "Four score and seven years ago..."

# in the above string, replace the "..." with a single period

In [30]:
speech.replace("...", ".")

'Four score and seven years ago.'

#### INDEXING A STRING

Strings are ordered sequences of characters and each character has a number associated with it. 

Indexing allows you to access individual characters in a string (or other ordered data types like a list) directly by using a numeric value, that numeric value is associated with a character/position in the string. 

In python, indexing is zero-based, meaning, the first character in the string has an index of 0, followed by 1, then 2, etc. See below for an example of how index values are associated with a string:

    H[0]e[1]l[2]l[3]o[4]![5]
    
index value of 0 returns the character "H"
index value of 1 returns the character "e"
index value of 2 returns the character "l"
index value of 3 returns the character "l"
index value of 4 returns the character "o"
index value of 5 returns the character "!"

Complete the code below to practice indexing a specific string.

In [32]:
# run this cell to define the variable 'words'
# determine the length (how many characters) of the passage 

words = "To be, or not to be, that is the question..."

print(len(words))

44

In [33]:
# index the variable 'words'
# what character is in position 0?

words[0]

'T'

In [34]:
# index the variable 'words'
# what character is in position 15?

words[15]

'o'

In [35]:
# index the variable 'words'
# what character is in position 9?

words[9]

' '

In [37]:
# index the variable 'words'
# what character is in position 39?

print(words[39])

o

#### CUSTOMIZED FUNCTIONS 

Python allows you to create your own unique functions. This gives you a lot of flexibility on the tasks you can automate within your code. You can create a function to do practically anything -- print a single value, add two numbers together, remove white spaces from a string, etc. 

* A custom function begins with the keyword <b>def</b> and followed by a function name (of your choice). 
* The function may take argument(s) as input within the opening and closing parentheses, just after the function name and following by a colon. 
* After defining the function name and argument(s) a block of program statement(s) start on the next line and these statement(s) must be indented. Please note, adding arguments within the parentheses is optional!

When you are defining a function, follow these steps:

     def function_name(argument1, argument2, ...) :
          statement_1
          statement_2

Complete the code below to define a series of functions.

In [38]:
# EXAMPLE
# define a function that takes one number and prints the number

def print_num(num):
    print(num)

# call the function
# this function takes one argument, so you have to give the function info

print_num(10)

10

In [40]:
# EXAMPLE #
# define a function that generates one number and prints the number

def print_num_b():
    num = int(input("Enter a number: "))
    print(num)

# call the function
# this function takes no arguments, therefore, we can call the function without giving information first

print_num_b()

Enter a number: 10
10

In [44]:
# define a function that takes two numbers and adds them together

def print_nums(num1, num2):
    print(num1 + num2)

# call the function below
# this function takes two arguments, so you have to give the function info

print_nums(15, 5)

20

In [45]:
# define a function that generates two numbers and adds them together

def print_nums_b():
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)

# call the function below
# this function takes no arguments, therefore, we can call the function without giving information first

In [46]:
# define a function that takes a string and changes the case to uppercase

def uppercased(string):
    string = string.upper()
    print(string)
    
# call the function below
# this function takes one argument, so you have to give the function info

uppercased("my you please offer me a job")

MY YOU PLEASE OFFER ME A JOB

In [47]:
# define a function that asks a user for two numbers then multiplies those numbers together

def multi(x, y):
    print(x * y)
    
# call the function below
# this function takes two arguments, so you have to give the function info

multi(2, 10)

20

In [49]:
# define a function that asks a user for two numbers then multiplies those numbers together

def multi_b():
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    print(x * y)

# call the function below
# this function takes no arguments, therefore, we can call the function without giving information first

multi_b()

Enter a number: 10
Enter another number: 5
50

# { Module 2 Quiz }

1. Convert "890" to an integer data type
2. Get two numbers from a user. Use these two numbers as the starting and ending number when generating a random integer. Run the code to produce a random integer within this range.
3. Remove the whitespaces from the ends of the following string: "   What is your name   ?"
4. After you remove the whitespaces from the above string, index the string to find the character in position 3.
5. Define a function that asks a user for three numbers. Add the first two numbers together. Then, multiply the sum of the first two numbers with the third number. After you define the function, use it!

In [50]:
int("890")

890

In [53]:
import random as ran

x = int(input("Enter a number: ")) 
y = int(input("Enter a number: ")) 

ran.randint(x, y)

Enter a number: 10
Enter a number: 50

39

In [56]:
name = " WhAt is your name?  "

name.strip()

print(name)

 WhAt is your name?

In [57]:
name[3]

'A'

In [59]:
def numbers(a, b, c):
    sum = a + b
    total = sum * c
    print(total)

numbers(5, 10, 3)

45

## Module 3 Review

#### COMPARISON AND BOOLEAN OPERATORS

Comparison operators compare two values to each other and return a result based on that comparison (either true or false). The comparison operators you have available are as follows:

    == : equal to
    != : not equal to
    >  : greater than
    <  : less than
    >= : greater than or equal to
    <= : less than or equal to
    
For example, x = 10 and y = 14, see below for the following comparison results:

       x == y >> FALSE
       x != y >> TRUE
       x > y >> FALSE
       x < y >> TRUE
       x >= y >> FALSE
       x <= y >> TRUE
    
1. Create 5 conditions that produce a FALSE result
2. Create 5 conditions that produce a TRUE result

In [13]:
# 5 conditions that produce false result
print(3 == 20)
print("keep" == "take")
print(87 >= 980)
print(0 > 8)
print(12.9 != 12.9)

False
False
False
False
False

In [14]:
# 5 conditions that produce true 

print(10 != 80)
print("tinashe" == "tinashe")
print(10 <= 100)
print(20 == 20.0)
print(5 < 11)

True
True
True
True
True

#### CONDITIONAL STATEMENTS

Conditional statements check a statement for truth and executes a specific task depending on if the statement is true or false. Conditional statements include:

    IF >> if 
    ELSE >> else
    ELIF >> else if

#### IF STATEMENTS

The IF statement checks a statement for truth, if the statement is true a specific task will be executed

1. Run the code in the first example
2. Create your own IF statement that prints a number if it is higher than 100
3. Create an IF statement that adds 10 to a number if it is higher than 100; print the sum of the two numbers.

In [16]:
# EXAMPLE

age = 28

if age > 18:
    print("You are over 18.")

You are over 18.

In [20]:
num = 200

if num > 100:
    
    print(num)

200

In [21]:
num = 150

if num > 100:
    j = num + 10
    print(j)

160

#### IF/ELSE STATEMENTS

The IF/ELSE statements (when used together), checks a statement for truth - if the statement is true, the task underneath the IF statement will execute. If the statement if false, the task underneath the ELSE statement will execute.

1. Run the code in the first example
2. Create your own IF/ELSE statement that prints a number if it is higher than 100; if it is lower than 100, print "Low Number". 
3. Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; if it isn't higher than 100, add 100 to the number. Print the sum of the two numbers.

In [22]:
# EXAMPLE

age = 8

if age > 18:
    print("You are over 18.")
else:
    print("You are under 18.")

You are under 18.

In [24]:
numb = 101

if numb > 100:
    print("Your number is higher than 100.")
else:
    print("Your number is lower than 100.")

Your number is higher than 100.

In [25]:
numb = 99

if numb > 100:
    print("Your number is higher than 100.")
else:
    print("Your number is lower than 100.")

Your number is lower than 100.

In [26]:
numb = 101

if numb > 100:
    print("Your number is higher than 100.")
else:
    print("Your number is lower than 100.")

Your number is higher than 100.

In [29]:
num = 151

if num > 100:
    
    print(num)
else:
    print("Low Number")

151

In [30]:
num = 151

if num > 100:
    x = num + 10
    print(x)
else:
    x = num + 100
    print(x)

161

#### ELIF STATEMENTS

The ELIF statement is short for "ELSE IF" and is a combination of the above statements. ELIF checks another statement for truth (after the initial IF statement) -- if the statement if true, the tasks underneath the ELIF statement will execute. 

1. Run the code in the first example
2. Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; if the value is equal to 100 - print "100". If both statements are false, print "less than 100").
3. Create an IF/ELIF/ELSE statement that adds 10 to a number if it is higher than 100; if the number is greater than 50 -- add 20 to the number. If none of the above are true, add 100 to the number. Print the sum of the two numbers.

In [31]:
# EXAMPLE

age = 18

if age > 18:
    print("You are older than 18.")
elif age == 18:
    print("You ARE currently 18!")
else:
    print("You are younger than 18.")

You ARE currently 18!

In [34]:
num = 301

if num > 100:
    print(num)
elif num == 100:
    print(num)
else:
    print ("Less than 100.")

301

In [35]:
num = 99

if num > 100:
    print(num)
elif num == 100:
    print(num)
else:
    print ("Less than 100.")

Less than 100.

In [40]:
num = 49

if num > 100:
    x = num + 10
    print(x)
elif num > 50:
    x = num + 20
    print(x)
else:
    x = num + 100
    print (x)

149

#### LISTS

Lists are a unique data type within Python. Lists are ordered and changeable -- which means you can index a list and you can add/remove values from a list. A list is a collection of values all saved together into a single variable. Lists can contain multiple data types within a single list. All values within a list are separated by a comma. Lists are defined by square brackets. 

    list_name = [value1, value2, value3...]
    
Complete the code below to define a series of lists.

In [41]:
# add two values to the following list of flowers
# print the list

flowers = ["Rose", "Lily", "Poppy", "Orchid", "Daisy"]

print(flowers)

['Rose', 'Lily', 'Poppy', 'Orchid', 'Daisy']

In [42]:
# fix the code below to define a list of names
# print the list

names = ["Jack", "Max", "Leo", "Harper", "Sam"]

print(names)

['Jack', 'Max', 'Leo', 'Harper', 'Sam']

In [43]:
# use the space below to create a blank list
# print the list to make sure its blank

blank_list = []

#### LIST INDEXING AND SLICING

Indexing a list works similarly to indexing a list - you are specifically asking to see the value within a specific location. A list index is still zero-based. See below for a list of colors. Next to each color is the index value.

    colors = [red-0, yellow-1, blue-2]

To index, you will state the name of your list and then within square brackets, specify the location you want to see. 

    colors[0] >> "red-0"
    colors[1] >> "yellow-1"
    colors[2] >> "blue-2"
    
Slicing a list returns a specific segment of the list instead of just returning a specific value in a specific index position. Slicing will return all the values of a list from a starting index location up to (<b>but not including</b>) an ending index location. Slicing uses square brackets and follows the pattern below:

    list_name[starting point : ending point]
    
Slicing will literally give you a slice of the list. See below for an example using the colors list. 

    colors[0:2] >> red-0, yellow-1
    colors[0:3] >> red-0, yellow-1, blue-2
    
1. Create a list of objects you find around your house. Have at least 6 values in the list. Print the list. 
2. What value is at position 4 in your list?
3. What value is at position 0 in your list?
4. Slice your list so you return all values except for the last two.

In [44]:
# 1. a list of things around my house

objects = ["tv", "stove", "bed", "sofa", "dinning table", "computer"]

print(objects)

['tv', 'stove', 'bed', 'sofa', 'dinning table', 'computer']

In [45]:
# 2. value position 4 of my list 

objects[4]

'dinning table'

In [46]:
# 3. value position 0

objects[0]

'tv'

In [49]:
# 4. Slicing  my list so it can return all values except for the last two

objects[0:4]

['tv', 'stove', 'bed', 'sofa']

#### ADDING VALUES TO A LIST

Lists are changeable, which means you can add values to a list after you have defined the list initially. 

The .append() function will add a single value to the end of your list. This function can only add one value at a time, and it will always attach to the end. To use the function, see an example below:

    list_name.append( new_item_to_add )
    
    colors.append("green-3")
    
The .insert() function will add a single value to a specific index-position within your list. Unlike the append function, this means the item your adding won't automatically be attached to the end. To use the function, see an example below:

    list_name.insert( index-position, new_item_to_add )
    
    colors.insert(0, "green-3")

The .extend() function allows you to add multiple values to a list at one time. This is the function to use if you don't want to add values one by one. To use the function, you first have to create a separate list of the values you want to add. Then, you will use the .extend() function to add all the values on the list onto the end of the existing list. See below for an example:

    new_list = ["new_value1", "new_value2", "new_value3"...]
    list_name.extend( new_list )
    
    
    new_colors = ["green-3", "purple-4"]
    colors.extend(new_colors)
    
1. Create a list of shapes below. This list should have at least 3 values. Print the list. 
2. Use the append function to add a shape to your list. Print the list.
3. Use the insert function to add a shape to your list. This shape should be inserted in index position 2. Print the list.
4. Use the extend function to add 3 additional shapes to your list. Print the list.

In [50]:
# 1. creating a list of shapes 

shapes = ["rectangle", "hectorgon", "triangle"]

print(shapes)

['rectangle', 'hectorgon', 'triangle']

In [51]:
# 2.using append function to add a shape to my list

shapes.append("circle")

print(shapes)

['rectangle', 'hectorgon', 'triangle', 'circle']

In [52]:
# 3. using insert function to add a shape to my list in index position 2

shapes.insert(2, "star")

print(shapes)

['rectangle', 'hectorgon', 'star', 'triangle', 'circle']

In [53]:
# 4. using extend function to extend my list

new_shapes = ["square", "pentagon", "semi-circle"]

shapes.extend(new_shapes)

print(shapes)

['rectangle', 'hectorgon', 'star', 'triangle', 'circle', 'square', 'pentagon', 'semi-circle']

# { Module 3 Quiz }

1. Create 3 conditions that produce a false result. Create 3 conditions that produce a true result.
2. Ask the user for a specific color and store the value into a variable. If the color is Blue, print "Blue is a calming color". If the color is Red, print "Red is a fiery color". Otherwise, print "All colors are beautiful".
3. Create a list of 5 fictional characters. Print the list. 
4. Ask the user for a specific number between 1 and 10. If the number is less than 3, print 'low value'. If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.
5. Create a function that determines if a student passed or failed a test. Ask the user for their test score, if the value is below 70, print 'You failed'. If the value is 70 or above, print 'You passed'. If the value is above 100 or below 0, print 'Please enter a valid number'.

In [54]:
# 1. FALSE conditions

print(5 == 2)
print(6.5 != 6.5)
print(178 >= 9000)

# TRUE conditions

print("Hello" == "Hello")
print(67 < 190)
print(45 != 8)

False
False
False
True
True
True

In [58]:
# 2. asking a user to give you a color 

color = input("Enter a color: ")

if color == "Blue" or "blue":
    print("Blue is a calming color!")
elif color == "Red":
    print("Red is a fiery color!")
else:
    print("All colors are beautiful")

Enter a color: blue
Blue is a calming color!

In [1]:
# 3. creating a list of fictional charactors 

fiction = ["Rozvi", "changamire dombo", "Chaka ", "Zulu", "Malema"]

print(fiction)

['Rozvi', 'changamire dombo', 'Chaka ', 'Zulu', 'Malema']

In [5]:
# 4. asking a user to enter a number between 1 and 10
number = int(input("Enter a number between 1 and 10: "))

if number > 7:
    print("High Value!")
elif number < 3:
    print("Low Value")
else:
    print("Thank you for entering a number!!!")

Enter a number between 1 and 10: 5
Thank you for entering a number!!!

In [6]:
# Create a function that determines if a student passed or failed a test.

def passed():
    test_score = float(input("Please enter your test score: "))
    
    if test_score > 100 or test_score < 0:
        print("Please enter a valid number.")
    elif test_score >= 70:
        print("You passed!")
    elif test_score < 70:
        print("You failed.")

# use the function

passed()

Please enter your test score: 99
You passed!

## Advanced Review

Complete the exercises below. These exercises cover topics from all the modules covered in the class thus far, not just the items reviewed in this notebook. Each exercise should be completed in its own cell (or multiple cells). 

*****************************

1.	Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.
2.	Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.
3.	Take a list and write a program that prints out all the elements of the list that are less than 5. BONUS: Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.
4.	Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. BONUS: Keep the game going until the user types exit
5.	Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list.
6.	Write a password generator in Python. Be creative with how you generate passwords - strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. The passwords should be random, generating a new password every time the user asks for a new password.

In [22]:
# 1. Creating a program that asks the user to enter their name and their age.
name = input("What is your name? ")
age = int(input("How old are you? "))
year = (2021 - age) + 100

print(f"{name} will be 100 years old in the year {year}.")

What is your name? Tinashe
How old are you? 20
Tinashe will be 100 years old in the year 2101.

In [21]:
# 2. Ask the user for a number. Depending on whether the number is even or odd,
# print out an appropriate message to the user.

num = int(input("Enter a number: "))

if num % 2 == 0:
    print("You picked an even number!")
else:
    print("You picked an odd number!")

Enter a number: 2
You picked an even number!

##### 3. Take a list and write a program that prints out all the elements of the list that are less than 5. BONUS:

numbers = [0, 1, 3, 2, 4, 5, 7, 6, 8, 10, 5, 3, 1, 0]

for num in numbers:
    if num < 5:
        print(num)

In [20]:
# BONUS

less_than_5 = []

for num in numbers:
    if num < 5:
        less_than_5.append(num)
print(less_than_5)

[0, 1, 3, 2, 4, 3, 1, 0]

In [18]:
# 4. Generate a random number between 1 and 9 (including 1 and 9).
# Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. BONUS:
# Keep the game going until the user types exit

import random as rd

x = rd.randint(1, 9)

play = True

while play:
    guess = input("Guess a number between 1 and 9 (enter 'exit' to quit): ")
    
    if guess == 'exit':
        break
    
    elif int(guess) > x:
        print("Too high!")
        
    elif int(guess) < x:
        print("Too low!")
        
    elif int(guess) == x:
        print("Correct!")
        break

Guess a number between 1 and 9 (enter 'exit' to quit): 2
Too low!
Guess a number between 1 and 9 (enter 'exit' to quit): 0
Too low!
Guess a number between 1 and 9 (enter 'exit' to quit): 3
Too low!
Guess a number between 1 and 9 (enter 'exit' to quit): exit

In [11]:
# 5. Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and 
# makes a new list of only the first and last elements of the given list.
# define a list of numbers

numbers = [0, 1, 3, 2, 4, 5, 7, 6, 8, 10, 5, 3, 1, 11]

# define a list of letters

letters = ["r", "a", "d", "y", "p", "o", "x", "i", "t"]

In [12]:
# define a function to strip the first and last value from the list

def begin_end(list_name):
    new_list = []
    first = list_name[0] ## first element of list
    last = list_name[-1] ## last element of list
    new_list.append(first)
    new_list.append(last)
    print(new_list)

In [15]:
## apply the function to list of numbers

begin_end(numbers)

[0, 11]

In [16]:
## apply the function to list of letters

begin_end(letters)

['r', 't']

In [23]:
# 6. Write a password generator in Python. Be creative with how you generate passwords - 
# strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. 
# The passwords should be random, generating a new password every time the user asks for a new password.

import random as rd

#create strings to pull charaters from

l_letters = "abcdefghijklmnopqrstuvwxyz"
u_letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
numbers = "1234567890"
symbols = "~`!@#$%^&*()_-+=|}]{[\"';:/?.>,<"

In [24]:
# pick random characters from the above strings and combine together to create a 10-digit passcode

_1 = l_letters[rd.randint(0, 25)]
_2 = l_letters[rd.randint(0, 25)]
_3 = u_letters[rd.randint(0, 25)]
_4 = u_letters[rd.randint(0, 25)]
_5 = numbers[rd.randint(0,9)]
_6 = numbers[rd.randint(0,9)]
_7 = numbers[rd.randint(0,9)]
_8 = symbols[rd.randint(0, 30)]
_9 = symbols[rd.randint(0, 30)]
_10 = symbols[rd.randint(0, 30)]

In [25]:
# combine all the variables into a list

password = [_1, _2, _3, _4, _5, _6, _7, _8, _9, _10]

In [27]:
### randomize the passcode selections to print a final, scrambled password 

print(f"YOUR PASSWORD IS:\t{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}{password[rd.randint(0,9)]}")

YOUR PASSWORD IS:	tC0?6t6#0C